body{
    background-color:lightsteelblue;
}
.row{
    border-style: solid;
    border: steelblue;
}

.btn{
    width: 50px;
    height: 50px;
    
}
.col{

    padding: 5px;
    margin: 5px;
}

.col1{
    
    padding: 5px;
    margin: 5px;
    
}
.btn1{
    width: 129Px;
    height: 50px;
}



.screen{
    width: 260px;
    height: 100px;
    background-color: lightgray;
    border: solid;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
